/* CSS RESPONSIVO =========================================== */
@media (max-width: 840px) {

    /* tela até 840px */
    #menu-icon {
        /* estilo do menu hamburguer */
        /* sai do display none e mostra o menu */
        display: block;
    }

    .navlist {
        /* estilo da navlist - links header */
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: left;
        transition: all .45s ease;
        box-shadow: 0 7px 7px -1px #ccc;
    }

    .navlist a {
        /* estilo dos links da navlist */
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover {
        /* hover dos links da navlist */
        color: var(--second-color);
    }

    .navlist a:active {
        /* links da navlist quando ativados */
        color: var(--text-color);
    }

    .navlist.open {
        /* links da navlist quando abertos*/
        top: 100%;
    }
}

@media (max-width: 768px) {
    .section-index {
        padding: 160px 20% 160px !important;
    }

    .produtos-content2 {
        grid-template-columns: none;
        gap: 5rem;
    }

    .row img {
        height: 260px;
        width: 100%;
    }

    .main-texto h2 {
        font-size: var(--h2-font);
        font-size: 2rem;
        line-height: 1.5;
    }

    .button {
        margin-top: 120% !important;
    }
}

@media (max-width: 600px) {
    .section-index {
        padding: 160px 10% 160px !important;
    }
}

@media (max-width: 425px) {
    .section-index {
        padding: 160px 5% 160px !important;
    }

    .button {
        margin-top: 150% !important;
    }

    .btn {
        padding: 1rem;
    }

    .btn2 {
        padding: 1rem;
    }

    .row img{
        height: 220px !important;
    }
}

@media (max-width: 330px){
    .row img {
        height: 200px !important;
    }
}

@media (max-width: 510px) {
    .logo {
        width: 200px !important;
        height: auto !important;
    }

    header {
        padding: 1rem !important;
    }

    #menu-icon {
        margin-right: 1rem;
        font-size: 2.5rem;
    }
}


/* SECTION PRODUTOS ===================== */
@media (max-width: 768px) {
    #swiper-navBtn {
        display: none;
    }

    .slide-content {
        margin: 0 10px;
    }
}

/* SECTION PRODUTOS ===================== */

/* SECTION FOOTER ===================== */
@media (max-width: 1000px) {
    #div-footer3 {
        justify-content: center;
        gap: 1.2rem;
    }
}

@media (max-width: 564px) {
    #footer-container {
        justify-content: center;
        gap: 1rem;
    }

    #icon-footer {
        margin-bottom: 1rem;
    }
}

@media (max-width: 556px) {
    #h2-footer3 {
        text-align: center;
    }
}

@media (max-width: 445px) {
    .navlist-footer3 a {
        display: none;
    }

    #div-footer3 {
        gap: 0;
    }
}

/* SECTION FOOTER ===================== */

/* SECTION PRODUTOS =================== */
@media (max-width: 1000px) {
    #video-produtos {
        width: 600px !important;
    }
}

@media (max-width: 870px) {
    #video-produtos {
        width: 500px !important;
    }
}

@media (max-width: 768px) {
    .card-image .card-img {
        -webkit-animation: desliza 1s alternate ease-in-out;
    }

    @-webkit-keyframes desliza {
        0% {
            -webkit-transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(-1rem);
        }
    }
}

@media (max-width: 750px) {
    #pdf-baixar {
        display: none;
    }

    #p-documentacao {
        font-size: 1.1rem !important;
    }

    #video-produtos {
        width: 400px !important;
    }
}

@media (max-width: 600px) {
    .section-tulipa {
        padding: 160px 0 !important;
    }

    .section-fingers {
        padding: 160px 0 !important;
    }

    .section-flexgripper {
        padding: 160px 0 !important;
    }

    .card-image .card-img {
        height: 200px !important;
    }

    .div-baixar {
        margin: 2rem !important;
        justify-content: space-between !important;
        padding: 1rem !important;
    }

    #div-baixar2 {
        justify-content: ce !important;
    }

    #p-documentacao {
        font-size: 1.1rem !important;
        text-align: center !important;
    }

    #p-documentacao {
        margin-left: 0;
    }
}

@media (max-width: 510px) {
    #section-produtos {
        padding-right: 0;
        padding-left: 0;
    }

    #video-produtos {
        width: 350px !important;
        height: auto;
    }
}

@media (max-width: 370px) {
    #video-produtos {
        width: 300px !important;
        height: auto;
    }
}

@media (max-width: 350px) {
    #video-produtos {
        width: 270px !important;
        height: auto;
    }
}

/* SECTION PRODUTOS =================== */

/* SECTION PÓS-NOTÍCIAS =============== */
@media (max-width: 470px) {
    #h2-pos-noticia {
        font-size: 1.5rem !important;
    }

    .sub-header {
        font-size: 1rem !important;
    }

    .post-text {
        font-size: 1rem !important;
    }

    .back-home {
        font-size: 0.9rem !important;
    }

    .header-img {
        height: 200px !important;
    }

    .section-main-pos-noticias {
        padding: 3% 10% !important;
    }

    .header-content {
        margin-top: 12rem !important;
    }

    #lista-noticia {
        font-size: 1rem !important;
        margin: 1rem 0 !important;
        line-height: 2 !important;
        padding: 0 8px;
        list-style-type: none !important;
    }

    #id-description {
        font-size: 1rem !important;
    }
}

/* SECTION PÓS-NOTÍCIAS =============== */

@media all and (max-width: 820px) {
    section.module h2 {
        font-size: 32px;
    }

    .module h2, p {
        padding: 0 8px;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    section.module.parallax h1 {
        font-size: 36px;
    }
}

/* SECTION SOBRE ========================= */
@media (max-width: 768px) {
    #p-sobre {
        margin-left: 0;
        margin-right: 0;
    }

    section {
        padding: 160px 5% 160px !important;
    }
}

/* SECTION SOBRE ========================= */
/* CSS RESPONSIVO =========================================== */