/* CSS RESPONSIVO =========================================== */
@media (max-width: 840px) {

    /* tela até 840px */
    #menu-icon {
        /* estilo do menu hamburguer */
        /* sai do display none e mostra o menu */
        display: block;
    }

    .navlist {
        /* estilo da navlist - links header */
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--second-color);
        text-align: left;
        transition: all .45s ease;
        box-shadow: 0 7px 7px -1px #ccc;
    }

    .navlist a {
        /* estilo dos links da navlist */
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }

    .navlist a:hover {
        /* hover dos links da navlist */
        color: var(--second-color);
    }

    .navlist a:active {
        /* links da navlist quando ativados */
        color: var(--text-color);
    }

    .navlist.open {
        /* links da navlist quando abertos*/
        top: 100%;
    }
}

/* SECTION PRODUTOS ===================== */
@media (max-width: 768px) {
    #swiper-navBtn {
        display: none;
    }

    .slide-content {
        margin: 0 10px;
    }
}

/* SECTION PRODUTOS ===================== */

/* SECTION FOOTER ===================== */
@media (max-width: 1000px) {
    #div-footer3 {
        justify-content: center;
        gap: 1.2rem;
    }
}

@media (max-width: 564px) {
    #footer-container {
        justify-content: center;
        gap: 1rem;
    }

    #icon-footer {
        margin-bottom: 1rem;
    }
}

@media (max-width: 556px) {
    #h2-footer3 {
        text-align: center;
    }
}

@media (max-width: 445px) {
    .navlist-footer3 a {
        display: none;
    }

    #div-footer3 {
        gap: 0;
    }
}

/* SECTION FOOTER ===================== */

/* SECTION PRODUTOS =================== */
@media (max-width: 510px) {
    section {
        padding: 0;
    }
}

/* SECTION PRODUTOS =================== */

/* SECTION PÓS-NOTICIAS =================== */
@media (max-width: 1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }

    .post-container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    section{
        padding: 2rem 0;
    }
}

/* SECTION PÓS-NOTICIAS =================== */

/* CSS RESPONSIVO =========================================== */