@font-face {
    font-family: "Grover Caps";
    src: url(../fonts/Grover\ Caps\ Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Muller";
    src: url(../fonts/Muller\ Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Grover Caps Bold";
    src: url(../fonts/Grover\ Caps\ Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Muller Bold";
    src: url(../fonts/Muller\ Bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;
    font-family: "Grover Caps";
}

:root {
    --bg-color: #00233B;
    --text-color: #000;
    --second-color: #fff;
    --main-color: #55C2B5;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --muller-font: "Muller";
    --muller-font-b: "Muller Bold";
    --grover-font: "Grover Caps";
    --grover-font-b: "Grover Caps Bold";
}

body {
    background: var(--second-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}
/* ESTE SITE FOI DESENVOLVIDO POR NICHOLAS GERADE - COPYRIGHT © 2023*/ 